/* ----------CSS Reset---------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-weight: bold;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* --------------coustom variables-------------------- */

:root {
  --error: red;
  --dark-border-background: #0b1611;
  --dark-background: #172a21;
  --transparent-background: rgba(51, 79, 72, 0.4);
  --transparent-background-border: rgba(255, 255, 255, 0.125);
  --margin-lines: #334f48;
  --text-color: #dbf2ef;
}

/* --------------styles-------------------- */

body {
  color: var(--text-color);
}
.search,
.current_temp,
.current_wind {
  display: flex;
  justify-content: center;
}

/* --------------Left Side styles-------------------- */

.container {
  display: flex;
  min-height: 100dvh;
  background-color: var(--dark-background);
  border: 10px solid var(--dark-border-background);
}
.main_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: clamp(500px, 71%, 900px);
  padding: 1.5rem;
}
.date_time_location {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 15px;
}
.date_time {
  display: flex;
  gap: 10px;
  align-items: center;
}
.time {
  padding-left: 7px;
  border-left: 2px solid var(--margin-lines);
}
.weathercode {
  font-size: 70px;
  text-align: end;
}
.hrforecast {
  display: flex;
  overflow-y: scroll;
  gap: 7px;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-top: 2px solid var(--margin-lines);
}
.hrforecast > * {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  backdrop-filter: blur(0px) saturate(120%);
  -webkit-backdrop-filter: blur(0px) saturate(120%);
  background-color: var(--transparent-background);
  border-radius: 5px;
  border: 1px solid var(--transparent-background-border);
}
.hr_time {
  border-bottom: 2px solid var(--margin-lines);
}
.hr_img {
  background-color: var(--margin-lines);
  border-radius: 5px;
  margin: 5px 0 5px 0;
}

/* --------------RightSide styles-------------------- */

.main_right {
  padding: 1.5em;
  flex-grow: 1;
  backdrop-filter: blur(0px) saturate(120%);
  -webkit-backdrop-filter: blur(0px) saturate(120%);
  background-color: var(--transparent-background);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 1px solid var(--transparent-background-border);
}
.search_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search {
  background: url(/src/assets/location.webp) no-repeat scroll 1px 1px;
  background-color: transparent;
  border: 2px solid var(--margin-lines);
  border-radius: 5px;
  color: var(--text-color);
  padding: 5px 5px 5px 32px;
  margin-top: 1rem;
}
.error {
  text-align: center;
  color: var(--error);
  display: none;
}
.current_temp {
  padding-top: 1rem;
  font-size: 80px;
}
.windicon {
  width: 1.3rem;
  height: 1.2rem;
}
.current_wind {
  padding: 1.5rem 0 1.5rem 0;
  border-bottom: 2px solid var(--margin-lines);
}
.days_container {
  display: flex;
  justify-content: space-around;
}
.days_container > * {
  padding: 0.2em;
  border-style: none;
}
.dyforecast {
  padding-top: 1rem;
}
.dyforecast h1 {
  text-align: center;
}
.dyforecast_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}
.dyforecast_container > * {
  padding: 0 3px 0 3px;
}
.dyforecast_container > img {
  background-color: var(--margin-lines);
  border-radius: 5px;
}

.dyforecast_innercontainer {
  flex-grow: 1;
}
.dyforecast_innercontainer1 {
  border-left: 2px solid var(--margin-lines);
}

@media screen and (max-width: 450px) {
  .container {
    flex-direction: column-reverse;
  }
  .main_left {
    width: auto;
    padding: 0.5rem;
  }
  .date_time_location {
    flex-direction: column-reverse;
    align-items: center;
  }
  .weathercode {
    text-align: center;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column-reverse;
  }
  .main_left {
    width: auto;
    padding: 0.5rem;
  }
  .weathercode {
    text-align: center;
  }
}
